.text-sm{
   display: block;
  margin: auto;
   font-size: 5px;
   font-weight: bold;
   text-align: center;
   display: inline-block;
  
}
.fa-star{
    color:gold;
}
.fa-star-half-stroke{
    color:gold;
}